footer {
    position: fixed;
    bottom: 0;
}
.main-body {
    background-image: url(img/yugo.png);
    background-size: cover;
}
.display {
    background-color: rgba(0,0,1,0.9);
    position: absolute;
    left: 20%;
    top: 200px;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255,250,250, 0.2);
}
.cadastro {
    text-align: left;
    border-right: solid rgb(30,30,30);
    margin-left: 50px;
    margin-top: 100px;
    width:45%;
}
.entrar {
    color: white;
    position: absolute;
    top:150px;
    right:40px;
    width:40%;
}
.input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 14px 37px 7px 20px;
  border: 2px solid rgb(0,0,0);
  font: normal normal bold 16px/normal "Orbitron", Times, serif;
  color: rgba(250,250,250,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(0,0,1,0.9);
  -webkit-transition: background-color 145ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: background-color 145ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: background-color 145ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: background-color 145ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateX(-0.5729577951308232deg) rotateY(0.5729577951308232deg)   ;
  transform: rotateX(-0.5729577951308232deg) rotateY(0.5729577951308232deg)   ;
}
.buttom {
    text-align: center;
    font: normal normal bold 16px/normal "Orbitron", Times, serif;
    background: rgba(0,0,1,0.9);
    border: hidden;
    border-radius: 3px;
}